
/**********************************GLOBALS***************************************/
:root{
    --primary-text: #3d405b; 
    --border-color: #ddd; 
}
*{
    color: var(--primary-text);

}
/**********************************HEADER*************************************/
header{
    display: grid; 
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px; 
    border-bottom: solid 1px var(--border-color);
    column-gap: 8px;
    align-items: center; 
}

header img {
    display: block; 
    width: 100%; 
    height: auto; 
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: var(--primary-text) 
}

.hamburger{
    background: none; 
    border: none; 
    color: var(--primary-text); 
    cursor: pointer; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.hamburger::before{
    content: "\2630"; 
    font-size: 2rem;
}

.hamburger.show::before{
    content: "\00d7"
}

/**********************************NAVIGATION***************************************/
.navigation {
    display: none; 
}

.navigation.show {
    display: block; 
}

.navigation ul {
    display: flex; 
    flex-direction: column;
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    justify-content: space-around;
}
.navigation a {
    display: flex;
    text-align: center;
    column-gap: 8px; 
    padding: .85rem 10px;
    color: var(--primary-text);
    text-decoration: none;
    border-bottom: solid 1px var(--border-color);  
    
}

li{
    align-content: center; 
    height: 44px;
}

.navigation li.current{
    background-color: #eee;
}

h1{
    margin-left: 10px;
}

.navigation a:hover{
    background-color: green;
}

/**********************************FOOTER***************************************/

footer{
    background: #eee;
    padding: 1rem 10px; 
    text-align: center; 
}

.social{
display: flex; 
justify-content: center;
column-gap: 8px;
}

.social a {
    height: auto; 
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 44px;  
    border: #ccc solid 1px; 
    border-radius: 8px;
}

.social a:hover{
    background: var(--border-color)
}