@media screen and (min-width: 1024px) {

    .attractions {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }



    .attractions figure img{
        width: 300px; 
        height: auto; 
    }
}