@media screen and (min-width: 600px) {

    header{
        grid-template-columns: 110px 1fr;
    }

    header img{
        width: 100px;
    }

    header span{
        font-size: 2rem;
    }

    .hamburger{
        display: none; 
    }

    .navigation {
        grid-area: 2/1/3/4;
        width: 100%; 
        position: unset;  
        display: block;  
        flex-direction: column;
        transform: none; 
        transition: none;
        pointer-events: auto;
        opacity: 1; 
        visibility: visible; 
    }

    .navigation ul{
        margin-left: var(--standard);
        width: 100%;
        display: flex; 
        flex-direction: row;
        justify-content: space-around;
        background-color: var(--dark-gray);
    }

    .navigation ul li a {
        align-items: center;
        border: none; 
        color: var(--gold);
    }

    .navigation li{
        width: 100%; 
        justify-items: center;
    }

    .navigation li a span {
        background-color: var(--dark-gray);
    }

    footer{
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
    }    

    .copyright{
        font-size: 1rem;

    }

    h2, h3, h4, h5{
        font-size: 1.5rem;
    }

    .address p{
        font-size: 1rem;
    }

    .social{
        height: 50px; 
    }
    .cards, .gridDisplay{
       min-height: 420px;
    }
   
    .hero img{
        max-width: 70vw;
    }

        /******************************Index Grid********************************/
    
        .indexGrid {
            display: grid;
            grid-template-columns: 1fr 250px 1fr;
        }
    
        .events {
            padding: var(--standard) var(--standard) var(--standard) 0;
            margin-right: var(--large);
            margin-bottom: 0; 
        }
    
        tr,
        th,
        td {
            font-size: 1rem;
        }
    
        .currentWeather {
            height: 100%;
            margin-right: var(--large);
        }
    
        .weatherForecast {
            flex-direction: row;
            justify-content: space-around;
        }
    
    
        .cta button{
            font-size: 2rem;
        }
        .spotlight{
            min-height: 400px;
        }

        .forecast{
            min-height: 300px;
        }
        
        /************************************Form*******************************/
        
        
        .formGrid{
            display: grid; 
            grid-template-columns: 1fr 1fr;
        }
        
        form{
            grid-column: span 2;
            display: grid; 
            grid-template-columns: 1fr 1fr; 
        }
        
        .form{
            grid-column: 1/2;
            display: grid; 
        }
        
        .membershipCards {
            grid-column: 2/3; 
        }
        
        .fullWidth{
            grid-column: span 2;
        }
}

 