/*******************************************GLOBALS*************************************************************/

:root {
    --bold: 900; 
    --standard: 5px; 
    --large: 10px; 
    --selectable: 52px;
    
    --primary-blue: #002B7F;  /*Heads, Nav, buttons, icons */
    --secondary-blue: #4A74B5; /*links, hovers, icons*/
    --gold: #FFD200; /*Accents, hovers, calls */
    --white: #FFFFFF; /*backgrounds, cards, contrast text */
    --light-gray: #F2F4F7; /*sections, cards, dividers */
    --dark-gray: #2E2E2E; /*body Text,  */
    --success-green: #7bcf88; 
    --alert-red: #e68581;
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif; 
    font-weight: 400; 
    color: var(--dark-gray)
}

html, body{
    background-color: var(--light-gray);
    max-width: 100%; 
    overflow-x: hidden; 
}

h2, h3, h4, h5, h6, .heading {
    font-size: 1.5rem;
    text-align: center;
    background-color: var(--dark-gray);
    color: var(--white); 
    padding: var(--standard)

}


/*******************************************HEADER*************************************************************/

header{
    position: relative;  
    align-items: center;
    background-color: var(--dark-gray);
    display: grid; 
    grid-template-columns: 80px 1fr 80px;
    color: var(--gold); 
}

h1{
    font-size: 1.5rem;
    color: var(--gold); 
    width: 100%; 
    text-align: center;
}

header img{ 
    width: 75%; 
    height: auto;
    padding: var(--standard);
    background-color: var(--secondary-blue);
    margin-left: var(--large);
    margin-top: var(--large);
}

.hamburger{
    background: none; 
    border: none; 
    color: var(--white); 
    cursor: pointer; 
    justify-self: end; 
    align-self: center; 
    margin-right: var(--standard);  
}

.hamburger::before{
    content: '\2630'; 
    font-size: 2rem;
}

.hamburger.show::before{
    content:'\00D7';
    font-size: 3rem; 
}

/**********************************NAVIGATION***************************************/
.navigation {
    

    position: absolute; 
    top: 100%;  
    right: 0px; 
    width: 150px; 
    transform: translateX(100%); 
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s ease, opacity 0.5s ease; 
    pointer-events: none;
    border-radius: 5px;
}

.navigation.show {
    display: block; 
    transform: translateX(0); 
    opacity: 1; 
    visibility: visible; 
    pointer-events: auto; 
}

.navigation ul {
    background-color: var(--primary-blue);
    display: flex; 
    flex-direction: column; 
    list-style-type: none;
    margin: 0; 
    padding: 0; 
}

.navigation a {
    display: flex; 
    text-align: center;
    padding: var(--standard); 
    text-decoration: none;
    border: solid 1px var(--gold);
    color: var(--white);
}

.navigation li{
    align-content: center;
    height: var(--selectable); 
}

.navigation li.current, .navigation li.current a, .navigation li.current a span {
    background-color: var(--dark-gray); 
    color: yellow;
}

.navigation a:hover{
    color: var(--gold);
}

/**********************************FOOTER***************************************/

footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 10px;
    background-color: var(--dark-gray);
    padding-left:8%;
}

footer div h2,
footer div a,
footer div p,
footer div span {
    color: var(--gold);
    margin: 0;
    line-height: 1.2;
}

.address {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.address h2 {
    line-height: 1.2;
}

.address p {
    font-size: 0.75rem;
    line-height: 1.2;
}

.social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 0.5rem;
    padding: 0.5rem 0;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: var(--secondary-blue) solid 1px;
    border-radius: 12px;
    background-color: var(--secondary-blue);
    transition: background 0.2s;
}

.social a img {
    width: var(--selectable);
    height: var(--selectable);
}

.social a:hover {
    background: var(--gold);
    cursor: pointer;
}

.copyright {
    font-size: 0.75rem;
    margin: 0;
}

#currentYear,
#lastModified {
    display: block;
    min-height: 1.5em;
}


/********************************Main*******************************************/
.hero{
    width: 100%; 
    height: auto; 
    margin: 0;
    background-color: var(--secondary-blue);

}

.hero img{
    width: 80%;
    height: auto; 
    min-height: 143px; 
    display: block;
    margin: 0 auto;
    max-width: 1000px;  
}

/********************************GRID/LIST BUTTONS***************************************/

.button{
    display: flex;
    justify-content: space-around;
    height: var(--selectable);
}

.button button{
    text-align: center;
    padding: var(--standard);
    background-color: var(--primary-blue);
    margin: var(--large);
}

.button button:hover{
    cursor:pointer; 
}


/****************************CTA***********************/

.cta, .joinbtn{
    height: var(--selectable);
    margin: var(--large); 
}

.cta button, .joinbtn{
    display: block;
    text-align: center; 
    margin: 0 var(--large) ; 
    background-color: var(--gold);
    padding:0 var(--large); 
    justify-self: center;
    border-radius: var(--large);
    cursor: pointer; 
    height: var(--selectable)
}

.cta button:hover, .joinbtn:hover{
    background-color: var(--success-green);

}


/************************************Cards*****************************************/
.cards{
    min-height: 2600px;
}

.card h5{
    border-top-left-radius: var(--large);
    border-top-right-radius: var(--large);
}
.card{
    width: 100%; 
    height: 100%;
    min-height: 400px;
    align-self: start;
    border: 2px solid var(--gold); 
    border-radius: var(--large);
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
}

.card img{
    display: block;
    width: 95%; 
    max-width: 245px;
    height: auto; 
    border: 2px solid black;
    margin: var(--standard) 0; 
    align-self: center;  
}
.card p, .thankyou{
    margin: var(--standard);
} 

.card a{
    word-break: break-word;
    overflow-Wrap: anywhere; 
    text-decoration: none; 
    cursor: pointer;
    margin: var(--standard)
}

.card a:hover{
    color: var(--success-green); 
}

.card a:visited {
    color: var(--dark-gray); 
}
.list h2{
    background-color: var(--light-gray);
    color: var(--dark-gray); 
    font-size: 1rem; 
}

.spotlight{
    min-height: 1200px;
}

.gridDisplay, .spotlight{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    grid-gap: var(--large);
    background-color: var(--light-gray);
    border-radius: 5px;
    text-align: center;
    padding: var(--standard);
    align-items: start;
    width: 85%;
    justify-self: center; 
}

#grid, #list{
    background-color: var(--gold);
    height: var(--selectable); 
    font-size: 1rem; 
    padding: var(--standard); 
    border: 2px solid var(--dark-gray); 
    margin: var(--standard);
}



/******************************Index Grid********************************/

.indexGrid{
    display: block; 
    margin-top: var(--large); 
}
.events{
    padding: var(--standard);
    border-radius: var(--standard);
    background-color: var(--primary-blue);
    border: solid black 2px; 
    margin-bottom: var(--large);
}

.events table{
    width: 100%; 
    padding: var(--standard); 
    border: none; 
}

tr, th, td{
    color: var(--light-gray);
    font-size: 0.75rem;
}

.events td:last-child, .events th:last-child{
    text-align: right;
}

.currentWeather{
    background-color: var(--gold);
    padding: var(--standard);
    height: 200px; 
    border-radius: var(--standard); 
    margin-bottom: var(--large);
}

.currentWeather img{
    display: block; 
    width: 70px;
    height: 70px; 
    margin: var(--standard) auto; 
    background-color: var(--primary-blue);
    border-radius: 100%;
    border: solid black 2px; 
    padding: 0 var(--small); 
}


.currentWeather p{
    color: var(--primary-blue); 
    width: 100%; 
    text-align: center;
}

.forecast{
    background: var(--primary-blue); 
    padding: var(--standard); 
    border: 2px solid black;
    border-radius: var(--standard);
    min-height: 750px;
}

.weatherForecast{
    display: flex; 
    flex-direction: column;
}

.weatherForecast div{
    display: block; 
    width: 100%; 
    padding: var(--large); 
    border-bottom: 2px solid var(--light-gray); 
}

.weatherForecast p{
    color: var(--light-gray);
    text-align: center;
}

.weatherForecast img {
    display: block; 
    width: 70px; 
    height: 70px;
    background-color: var(--secondary-blue);
    border: 2px solid black; 
    border-radius: 100%;
    margin: 0 auto; 
}

/********************************Form*****************************/

form{
    grid-column: span 2;
    display: block;
}

form label {
    margin: var(--standard); 
    margin-right: var(--large);
    align-content: center;
    padding-top: 12px; 
}

form input, select{
    margin: var(--standard);
    height: var(--selectable); 
    text-align: center; 
}

.membershipPrompt{
    color: var(--dark-gray);
    margin: var(--standard);
    margin-top: var(--large); 
    grid-column: span 2; 
    padding: var(--standard); 
    font-size: 1rem;
    text-align: left;
}


textarea {
    grid-column: span 2;
    height: 80px;
    margin: var(--standard); 
}

.joinbtn{
    grid-column: span 2;
    margin: var(--large);
}

.membershipCards{
    height: 100%; 
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
}

.membershipCards, .membershipCards h2{
    background: var(--primary-blue); 
    justify-items: center;
    padding-bottom: var(--large);
}

.membershipCard{
    padding: var(--standard); 
    margin: var(--large); 
    animation: fadeColor 4s ease-in-out infinite alternate; 
}




.form{
    display: flex;
    flex-direction: column; 
} 

.formGrid{ 
    display: block;
}

/*******************************************Transitions********************************/

@keyframes fadeColor {
    from {
        background-color: var(--primary-blue)
    }
    to{
        background-color: var(--fade-to);
    }
    
}
.nonprofit{
    --fade-to: var(--secondary-blue);
    --backdrop-color: var(--secondary-blue); 
}

.bronze{
    --fade-to: #CD7F32;
    --backdrop-color: #cd7f32; 
    animation-delay: 2s;
    
}

.silver{
    background-color: var(--dark-gray);
    padding: var(--standard); 
    font-size: 1.2rem;
    --fade-to: silver;
    --backdrop-color: silver;
    animation-delay: 4s;
}

.gold{
    padding: var(--standard); 
    font-size: 1.3rem;
    background-color: var(--dark-gray);
    --fade-to: var(--gold);
    --backdrop-color: var(--gold);
    animation-delay: 6s;
    
}
/*************************************Modals*****************************************/

dialog{
    width: 80%; 
    height: 80%; 
    background-color: var(--secondary-blue);
    border: 1px solid var(--gold);
    box-shadow: 0 0 10px var(--dark-gray); 
    padding: 20px; 
    position: fixed; 
    left: 11%;
    top: 10%;  
    
}

dialog ul li{
    font-size: .75rem;
}

dialog ul{
    padding-left: 15px;
}

dialog::backdrop {
    background-color: var(--backdrop-color);
    opacity: 90%;
}

dialog p{
    font-size: .75rem;
    color: var(--gold);
}

/******************************Discover Named Grid***************************************/

.attractions div {
    min-height: 490px;
    padding: var(--standard); 
    border-radius: 8px; 
    overflow: hidden; 
    display: grid; 
    grid-template-areas: 
    "name"
    "photo"
    "description"
    "address";
}

.attraction :is(h2, figure, address, p, a){
    color: var(--light-gray); 
    padding: 7px; 
    
}

.attraction {
    background-color: var(--primary-blue);
    color: var(--dark-gray); 
    margin: var(--standard); 
}

.attraction:nth-child(even), .attraction:nth-child(even) *  {
background-color: var(--gold);
color: var(--dark-gray); 
}


.attraction figure {
    width: 100%;
}
.attraction figure img{
    display: block;
    padding: 8px 0  ; 
    justify-self: center;  
    width: 280px; 
    height:200px; 
    object-fit: cover;

}

.attraction h2{
    grid-area: name; 
}

.attraction figure{
    grid-area: photo; 
}

.attraction address{
    grid-area: address; 
}

.attraction p {
    grid-area: description; 
}

#returnMessage{
    font-size: 1.5rem;
    color: var(--gold);
    padding: var(--standard); 
    text-align: center;
}
