/*******************************************GLOBALS*************************************************************/

:root {
    --bold: 900; 
    --standard: 5px; 
    --large: 10px; 
    --selectable: 48px;
    
    --primary-blue: #002B7F;  /*Heads, Nav, buttons, icons */
    --secondary-blue: #4A74B5; /*links, hovers, icons*/
    --gold: #FFD200; /*Accents, hovers, calls */
    --white: #FFFFFF; /*backgrounds, cards, contrast text */
    --light-gray: #F2F4F7; /*sections, cards, dividers */
    --dark-gray: #2E2E2E; /*body Text,  */
    --success-green: #7bcf88; 
    --alert-red: #e68581;
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif; 
    /*font-optical-sizing is a valid CSS Fonts Level 4 property and is supported by all modern
    browsers.  W3C validator uses Fonts Level 3 and is not up to date.  Font-optical-sizing is 
    recommended for the Raleway font.*/
    font-weight: 400; 
    color: var(--dark-gray)
}

html, body{
    background-color: var(--light-gray);
    max-width: 100%; 
    overflow-x: hidden; 
}
h2 {
    text-align: center;
    background-color: var(--primary-blue);
    color: var(--white); 
    padding: var(--standard)

}
/*******************************************HEADER*************************************************************/

header{
    position: relative;  
    /* border-bottom: 2px solid black;  */
    align-items: center;
    background-color: var(--dark-gray);
    display: grid; 
    grid-template-columns: 80px 1fr 80px;
}

h1{
    font-size: 1.5rem;
    color: var(--gold); 
    width: 100%; 
    text-align: center;
}

header img{ 
    width: 75%; 
    height: auto;
    padding: var(--standard);
    background-color: var(--secondary-blue);
    margin-left: var(--large);
    margin-top: var(--large);
}

.hamburger{
    background: none; 
    border: none; 
    color: var(--white); 
    cursor: pointer; 
    justify-self: end; 
    align-self: center; 
    margin-right: var(--standard);  
}

.hamburger::before{
    content: '\2630'; 
    font-size: 2rem;
}

.hamburger.show::before{
    content:'\00D7';
    font-size: 3rem; 
}

/**********************************NAVIGATION***************************************/
.navigation {
    

    position: absolute; 
    top: 100%;  
    right: 0px; 
    width: 150px; 
    color: var(--white);
    
    transform: translateX(100%); 
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s ease, opacity 0.5s ease; 
    pointer-events: none;
    border-radius: 5px;
}

.navigation.show {
    display: block; 
    transform: translateX(0); 
    opacity: 1; 
    visibility: visible; 
    pointer-events: auto; 
}

.navigation ul {
    background-color: var(--primary-blue);
    display: flex; 
    flex-direction: column; 
    list-style-type: none;
    margin: 0; 
    padding: 0; 
}

.navigation a {
    display: flex; 
    text-align: center;
    padding: var(--standard); 
    text-decoration: none;
    border: solid 1px var(--gold);
    color: var(--white);
}

.navigation li{
    align-content: center;
    height: var(--selectable); 
}

.navigation li.current, .navigation li.current a, .navigation li.current a span {
    background-color: var(--dark-gray); 
    color: yellow;
}

.navigation a:hover{
    color: var(--gold);
}

/**********************************FOOTER***************************************/

footer {
    display: block; 
    padding: 1rem 10px;
    background-color: var(--dark-gray);
}
footer div h3, 
footer div a,
footer div p, 
footer div p span {
color: var(--gold);
}
.address{
    grid-area: 1/1/2/2; 
    line-height: 20px;
}

.address p, .copyright{
    font-size: .75rem;
}
.social {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    background-color: var(--dark-gray);
    padding-bottom: var(--large);
}

.social a {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    border: var(--secondary-blue) solid 1px;
    border-radius: 12px;
    padding: var(--large);
}
 .social a img{
    background-color: var(--secondary-blue);
    width:80px; 
    height: auto; 
 }

.social a:hover {
    background: var(--gold); 
    cursor: pointer;
}

/********************************Main*******************************************/
.hero{
    display: flex; 
    width: 100%; 
    align-items: center;
    justify-content: center;
    margin: var(--standard);
    background-color: var(--secondary-blue);
    padding: var(--large);
}

.hero img{
    width: 100%;
    max-width: 462px;
    height: auto; 
}

/********************************BUTTONS***************************************/

.button {
    display: flex;
    justify-content: space-around;
}

.button button{
    text-align: center;
    padding: var(--standard);
    background-color: var(--primary-blue);
    margin: var(--large);
}

.button button:hover{
    cursor:pointer; 
}



/************************************Cards*****************************************/

.cards{
    display: grid; 
    background-color: var(--light-gray);
    border-radius: 5px;
    text-align: center;
    padding: var(--standard);
    margin: var(--standard); 
    align-items: stretch;
    
}

.card{
    height: 100%;
    align-self: start;
    border: 2px solid var(--gold); 
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
}

.card img{
    width: 100%; 
    max-width: 320px;
    border: 2px solid black;
    margin: var(--standard) 0;  
}
.card p{
    margin: var(--standard);
} 

.card a{
    word-break: break-word;
    overflow-Wrap: anywhere; 
    text-decoration: none; 
    cursor: pointer;
}

.card a:hover{
    color: var(--success-green); 
}

.card a:visited {
    color: var(--dark-gray); 
}
.list h2{
    background-color: var(--light-gray);
    color: var(--dark-gray); 
    font-size: 1rem; 
}

.gridDisplay{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    grid-gap: var(--large);
    background-color: var(--light-gray);
    border-radius: 5px;
    text-align: center;
    padding: var(--standard);
    align-items: stretch;
}

#grid, #list{
    background-color: var(--gold);
    height: var(--selectable); 
    font-size: 1rem; 
    padding: var(--standard); 
    border: 2px solid var(--dark-gray); 
    margin: var(--standard);
}
