@media screen and (min-width: 600px) {

    header img{
        width: 600px;
        margin: 0 auto;  
    }

    header span{
        font-size: 2rem;
    }

    .hamburger{
        display: none; 
    }

    .navigation {
        width: 100%; 
        position: unset;  
        display: block;  
        flex-direction: column;
        transform: none; 
        transition: none;
        pointer-events: auto;
    }

    .navigation ul{
        width: 100%;
        display: flex; 
        flex-direction: row;
        justify-content: space-around;
        background-color: var(--dark-gray);
    }

    .navigation a {
        align-items: center;
        border: none; 
    }

    .navigation li{
        width: auto; 
        height:56.8px; 
    }

    .navigation li a span {
        background-color: var(--dark-gray);
    }

    .home{
        height: 100%;
    }

    .body{
        display: grid;
        grid-template-columns: 2fr 1fr; 
    }

    .about {
        background-color: var(--light-gray);
        
    }

    .photo {
        background-color: var(--light-gray);
       
    }
    .courseSection {
        grid-area: 2/1/3/3;
        display: grid; 
        grid-template-rows: auto auto auto;
    }

    .courses{
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: var(--large);
        
    }

    .courseSection p {
        text-align: center;
    }
}